.favorite-restaurant-text {
  margin-top: 130px;
}

.no-favorite-container {
  text-align: center;
  max-width: 25%;
  margin: 65px auto;
}

.favorite-restaurant-button {
  padding: 14px;
  background-color: var(--primary);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  min-width: 44px;
  min-height: 44px;
  display: inline-block;
  margin-top: 30px;
}

@media screen and (max-width: 635px) {
  .favorite-restaurant-text {
    margin-top: 150px;
    font-size: 1.4rem;
  }

  .no-favorite-container {
    max-width: 80%;
  }

  .no-favorite-container p {
    font-size: 0.9rem;
  }

  .no-favorite-container a {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 636px) and (max-width: 1023px) {
  .no-favorite-container {
    max-width: 40%;
  }
}
