.favorite-restaurant-text {
  margin-top: 130px;
}

.no-favorite-container {
  text-align: center;
  max-width: 25%;
  margin: 65px auto;
}

.favorite-restaurant-button {
  padding: 14px;
  background-color: var(--primary);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  min-width: 44px;
  min-height: 44px;
  display: inline-block;
  margin-top: 30px;
}

/* Loading and Error */
.loading-indicator {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: red;
}

/* End Loading and Error */

@media screen and (max-width: 635px) {
  .favorite-restaurant-text {
    margin-top: 150px;
    font-size: 1.4rem;
  }

  .no-favorite-container {
    max-width: 80%;
  }

  .no-favorite-container p {
    font-size: 0.9rem;
  }

  .no-favorite-container a {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 636px) and (max-width: 1023px) {
  .no-favorite-container {
    max-width: 40%;
  }
}
